    <% @team_number.times do %>
    
    <div class="row">
      <div class="col-md-4">
         <img src="<%= @avatar %>">
      </div>
      <div class="col-md-4">
        <h3>
          Superhero Name:</br>
          <span class="red"><%= @hero_prefix +' '+ @hero_name %></span></br>
        </h3>
        
        <h3>
          Superhero Power:</br>
          <span class="red"><%= @hero_power %></span></br>
        </h3>

        <h4>
        Your Undercover Day Job is :</br>
        <span class="corp_red"><%= @corp_title %></span></br>
        Your Corporate Superpower is:</br>
        <span class="corp_red"><%= @corp_power %></span></br></br>
        </h4>
      </div>
      
      <div class="col-md-4"></div>
      
    </div>

    <hr>
    <% end %>